.swap-content {
  display: flex;
  gap: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: fit-content;
}

.you-sell {
  width: 350px;
  height: 111px;
  background-color: #000;
  border-radius: 15px;
}

.you-buy {
  width: 350px;
  height: 113px;
  border-radius: 15px;
  border: 2px solid transparent; /* Прозрачная граница */
  background: linear-gradient(#141722, #141722) padding-box,
    linear-gradient(90deg, #f92d8f, #2d76f9) border-box;
}

.title-you-sell,
.balance-you-sell,
.underName-coin-sell,
.price-you-sell {
  color: #707a83;
  font-size: 13px;
}

.price-you-sell span {
  font-size: 12px;
}

.name-coin-sell {
  color: #fff;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 2.5px;
}

.balance-you-sell span {
  color: #2d76f9;
  font-weight: 600;
  font-size: 12px;
}

.balance-you-sell {
  padding-bottom: 7px;
}

.you-sell {
  padding: 0px 20px;
  padding-top: 17px;
  box-sizing: border-box;
}

.you-buy {
  padding: 0px 17px;
  padding-top: 15px;
  box-sizing: border-box;
}

.bottom-margin {
  margin-bottom: 25px;
}

.bottom-margin2 {
  margin-bottom: 9px;
}

.count-you-sell,
.count-you-buy {
  color: #fff;
  font-size: 24px;
  padding-bottom: 9px;
}

.down-swap {
  padding-top: 3px;
}

.coin-swap {
  display: flex;
  padding-bottom: 8px;
}

.you-sell-content {
  display: flex;
  justify-content: space-between;
}

.title-you-sell {
  padding-bottom: 7.5px;
}

.second-block-youSell {
  text-align: end;
}

.swap-button {
  position: relative;
  overflow: hidden;
  padding: 17px 110px;
  border-radius: 30px;
  background: linear-gradient(90deg, #343f52, #758db8);
  color: #fff;
  font-size: 15px;
  transition: color 0.4s ease-in-out;
}

.swap-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f92d8f, #2b6ade);
  transition: left 0.4s ease-in-out;
}

.swap-button.active::before {
  left: 0;
}

.swap-button .one-swap {
  position: relative;
  color: #758db8;
  transition: color 0.4s ease-in-out;
}

.swap-button.active .one-swap {
  color: #fff;
}

.swap-button .two-swap {
  position: relative;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.count-you-buy,
.count-you-sell {
  cursor: pointer;
  transition: all 0.3s ease;
}

.count-you-buy.active,
.count-you-sell.active {
  border-color: #4a90e2; /* Цвет границы для активного блока */
  border-right: 1px solid #4a90e2;
  height: 20px;
  margin-bottom: 13px;
  animation: blink-border 1s infinite; /* Анимация мигания */
}

@keyframes blink-border {
  0% {
    border-color: #4a90e2; /* Начальный цвет */
  }
  50% {
    border-color: transparent; /* Прозрачный цвет для мигания */
  }
  100% {
    border-color: #4a90e2; /* Конечный цвет */
  }
}

.sell-buy {
  width: 380px;
  height: 349px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0px 14px;
  padding-top: 15px;
  background: linear-gradient(180deg, #141722, #505c8803) border-box;
}

.first-block-swap {
  padding: 0 25px;
  box-sizing: border-box;
  position: relative;
  padding-top: 0px;
}

.your-coins-address {
  background: linear-gradient(180deg, #4670ed27, #28408711) border-box;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 20px;
  width: 430px;
  height: 420px;
  position: absolute;
  left: 0;
  top: 400px;
}

.your-coin-address {
  color: #fff;
  padding-bottom: 8px;
}
.address-coin {
  color: #878c98;
  font-size: 14px;
  padding-bottom: 10px;
}
.balance-coin-address {
  font-size: 12px;
  color: #878c98;
}

.balance-coin-address span {
  color: #2d76f9;
  font-weight: 600;
}

.coin-balance-swap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.copy-swap {
  width: 21px;
}

.qr-btn,
.copy-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff13;
  box-sizing: border-box;
  padding-left: 9px;
  padding-top: 4px;
}

.numpad-container {
  background: linear-gradient(180deg, #4670ed27, #28408711) border-box;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 20px;
  width: 430px;
  height: 250px;
  position: absolute;
  left: 0;
  top: 400px;
}
.first-block-swap {
  width: 100% !important;
  padding-top: 20px;
  top: 0;
  background-color: #0b0a0f;
  height: 884px;
}

.coin-list {
  display: block; /* Убедитесь, что элемент видим */
  position: absolute;
  background-color: white;
  z-index: 10;
  /* Другие стили */
}

.coin-address-block {
  display: flex;
  justify-content: space-between;
  padding: 0px 39px;
  padding-top: 46px;
  padding-bottom: 15px;
}

.coin-address-btns {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.retry-img {
  margin-bottom: 7px;
}

.numpad {
  padding-top: 24px;
  padding-bottom: 15px;
}

.key {
  font-size: 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  color: #fff;
  width: 160px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-pad {
  display: flex;
  justify-content: space-between;
}

.key:hover {
  background: #00000044;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 0.5s linear;
}

.your-coins-address {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.your-coins-address.hidden {
  transform: translateY(100%);
  opacity: 0;
}

.change-swap {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  top: 117px;
  left: 50%;
  transform: translateX(-50%);
}

.sell-buy {
  position: relative;
  margin-top: 45px;
}

.delete-btn {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transform: rotate(180deg);
}

.numpad-container {
  width: 100%;
}

.title-swap {
  display: none;
}

.delete-btn img {
  width: 11px;
  padding-left: 2px;
}

.retry-img {
  position: absolute;
  right: 35px;
}

.down-swap {
  width: 11px;
  box-sizing: border-box;
  padding-bottom: 1px;
}

@media (max-width: 1720px) {
  .swap-content {
    margin-left: 355px;
  }
}

@media (max-width: 1200px) {
  .swap-content {
    margin-left: 305px;
  }
}

@media (max-width: 1024px) {
  .swap-content {
    margin-left: 120px;
  }
}

@media (max-width: 768px) {
  .header-swap-main {
    position: fixed;
    right: 20px;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    left: 45.5%;
    padding-top: 16px;
  }

  .background-header-swap {
    height: 50px;
    position: fixed;
    background: rgba(0, 0, 0, 0.3); /* Полупрозрачный чёрный */
    backdrop-filter: blur(10px); /* Размытие */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень для отделения */
    top: 0;
    z-index: 100;
    width: 100%;
    left: 0;
  }

  .title-swap {
    color: #fff;
    font-weight: 600;
    display: block;
  }

  .swap-content {
    margin-left: 0px;
  }

  .retry-img {
    position: static;
  }

  .block-swap2 {
    display: none;
  }

  .menu-bottom-swap {
    display: none;
  }

  .first-block-swap {
    width: 100% !important;
    padding-top: 20px;
    position: absolute;
    top: 0;
    background-color: #0b0a0f;
    height: 100vh;
  }

  .your-coins-address {
    height: 426px;
    width: 100% !important;
  }

  .sell-buy {
    width: 100%;
  }

  .swap-button {
    display: block;
    margin: 0 auto;
  }

  .you-sell {
    width: 100%;
  }

  .you-buy {
    width: 100%;
  }

  .your-coins-numpad {
    width: 100%;
    padding-bottom: 0px;
    height: 360px;
  }

  .header-swap {
    display: none;
  }
}

@media (max-width: 427px) {
  .swap-button {
    padding: 15px 70px;
  }
}

@media (max-width: 360px) {
  .swap-button {
    padding: 14px 55px;
  }
}
