.BLOCKCHAIN {
  font-family: 'Rubik';
  margin: 0;
  animation: fadeIn 0.6s ease-out;
}

.qr-code {
  height: 100%;
  padding-right: 8px;
}
.QR-block {
  display: flex;
  gap: 40px;
  padding-top: 165px;
}

.qr-data {
  display: flex;
  gap: 29px;
}

.qr-label {
  font-weight: 600;
}

.qr-value {
  color: #5a6773;
  word-wrap: break-word;
  word-break: break-all;
}

.qr-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 7px;
}

.copy {
  position: absolute;
  left: 332px;
  top: 1px;
  background: none;
  border: none;
}

/* Стиль для кастомного уведомления */
.copy-notification {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.copy-notification.hidden {
  opacity: 0;
  pointer-events: none; /* Чтобы уведомление не мешало взаимодействию с другими элементами */
}

.copy-img {
  width: 20px;
}

.copy-img {
  filter: brightness(0) saturate(100%) invert(60%) sepia(100%) saturate(300%) hue-rotate(180deg);
  transition: filter 0.3s ease-in-out;
}

.qr-address {
  position: relative;
}

.recent-history {
  font-size: 24px;
  padding-top: 102px;
  padding-left: 13px;
}

@media (max-width: 1000px) {
  .QR-block {
    flex-direction: column;
    gap: 20px;
    padding-top: 75px;
  }

  .qr-data {
    gap: 5px;
  }

  .qr-code {
    width: 150px;
    padding-right: 0;
  }
  .qr-label {
    width: auto;
  }

  .qr-value {
    font-size: 14px;
    padding-top: 2px;
  }

  .qr-content {
    width: 300px;
  }

  .recent-history {
    padding-top: 50px;
    padding-bottom: 15px;
    padding-left: 0;
  }

  .copy {
    position: absolute;
    left: 280px;
    top: 2px;
  }

  .copy-img {
    width: 18px;
  }
}
