@import url('https://fonts.cdnfonts.com/css/lufga');

.dark-theme {
  background-color: #0d0d0d;
  font-family: 'lufga';
}

.light-theme {
  background-color: white;
  font-family: 'Rubik';
}

html,
body {
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

button,
input {
  all: unset;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Чтобы body занимал всю высоту страницы */
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
/*                          */

input {
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  padding-right: 50px;
  box-sizing: border-box;
}

input {
  appearance: none;
  text-rendering: optimizeLegibility;
}

html {
  touch-action: manipulation;
}

@media (max-width: 768px) {
  input {
    padding-right: 35px;
  }
}

#top {
  position: absolute;
  top: 0px;
}

.cards-carousel {
  display: flex;
  flex-wrap: wrap;
}
